In [181]:
import pandas as pd
import numpy as np
import requests as rq
import sqlite3

In [5]:
keys = pd.read_json("keys.json", orient = "index")

In [14]:
keys.loc["BEARERtoken"][0]

'AAAAAAAAAAAAAAAAAAAAAHCuhwEAAAAAA%2FMz1azqVTNRZwj7d5ahqQbtOaA%3Drkw7xbgzcDF0tOwOq0bhrsWD3FZEIwQz1x7xA7AA0O3fd0mKD8'

In [ ]:
https://api.twitter.com/2/tweets?ids=1576846293179457536&tweet.fields=text

In [167]:
request_id = rq.get(url = "https://api.twitter.com/2/users/by/username/TheBridge_Tech?user.fields=id",headers={"Authorization": r"Bearer AAAAAAAAAAAAAAAAAAAAAHCuhwEAAAAAA%2FMz1azqVTNRZwj7d5ahqQbtOaA%3Drkw7xbgzcDF0tOwOq0bhrsWD3FZEIwQz1x7xA7AA0O3fd0mKD8"})

In [171]:
request_id.json()

{'data': {'id': '1162694149956603904',
  'name': 'The Bridge',
  'username': 'TheBridge_Tech'}}

In [125]:
request1 = rq.get(url = "https://api.twitter.com/2/users/1162694149956603904/mentions?max_results=100&start_time=2022-06-13T09:00:00.000Z&end_time=2022-10-05T15:00:00.000Z&tweet.fields=created_at,id,public_metrics&expansions=referenced_tweets.id,referenced_tweets.id.author_id&user.fields=id,name,username",headers={"Authorization": r"Bearer AAAAAAAAAAAAAAAAAAAAAHCuhwEAAAAAA%2FMz1azqVTNRZwj7d5ahqQbtOaA%3Drkw7xbgzcDF0tOwOq0bhrsWD3FZEIwQz1x7xA7AA0O3fd0mKD8"})

In [126]:
request2 = rq.get(url = "https://api.twitter.com/2/users/1162694149956603904/mentions?max_results=100&start_time=2022-06-13T09:00:00.000Z&end_time=2022-10-05T15:00:00.000Z&tweet.fields=created_at,id,public_metrics&expansions=referenced_tweets.id,referenced_tweets.id.author_id&user.fields=id,name,username&pagination_token=7140dibdnow9c7btw422882cedbrvltmlu2xyuumzros7",headers={"Authorization": r"Bearer AAAAAAAAAAAAAAAAAAAAAHCuhwEAAAAAA%2FMz1azqVTNRZwj7d5ahqQbtOaA%3Drkw7xbgzcDF0tOwOq0bhrsWD3FZEIwQz1x7xA7AA0O3fd0mKD8"})

In [396]:
lista = []
for x in range(len(request1.json()["data"])):
    lista.append(request1.json()["data"][x]["author_id"])

In [405]:
lista = []
for x in range(len(request2.json()["data"])):
    lista.append(request2.json()["data"][x]["author_id"])

In [408]:
url = "https://api.twitter.com/2/users?ids={}&user.fields=id,name,username".format(lista)

In [409]:
url = url.replace("'", "").replace("[", "").replace("]", "").replace(" ", "")

In [410]:
requestauthor1= rq.get(url = url,headers={"Authorization": r"Bearer AAAAAAAAAAAAAAAAAAAAAHCuhwEAAAAAA%2FMz1azqVTNRZwj7d5ahqQbtOaA%3Drkw7xbgzcDF0tOwOq0bhrsWD3FZEIwQz1x7xA7AA0O3fd0mKD8"})

In [400]:
userdata = requestauthor1.json()["data"]

In [412]:
for x in requestauthor1.json()["data"]:
    userdata.append(x)

In [413]:
len(userdata)

152

In [137]:
request1.json().keys()

dict_keys(['data', 'includes', 'errors', 'meta'])

## Datos a meter en la BD

In [141]:
request1.json()["data"][0]["id"]

'1577334577701453827'

In [144]:
request1.json()["data"][0]["text"]

'Recordaros que la semana que viene tenemos la primera quedada #CPS en Madrid, en @TheBridge_Tech, en el que tendremos la gran suerte de contar con @Recuenco para que nos dÃ© una charla. Las plazas se han agotado, pero os podÃ©is apuntar al grupo para prÃ³ximas quedadas ðŸš€'

In [150]:
request1.json()["data"][0]["created_at"]

'2022-10-04T16:27:23.000Z'

In [231]:
request1.json()["data"][0]["author_id"]

'1003872445'

In [417]:
userdata[0]["id"]

'1003872445'

In [418]:
userdata[0]["name"]

'Pau Mugarra'

In [419]:
userdata[0]["username"]

'PauMugarra'

In [166]:
request1.json()["data"][0]["public_metrics"]

{'retweet_count': 2, 'reply_count': 0, 'like_count': 12, 'quote_count': 0}

In [188]:
len(request1.json()["data"])

100

-----

## listas

In [420]:
id_tweet = [request1.json()["data"][x]["id"] for x in range(len(request1.json()["data"]))]
for x in range(len(request2.json()["data"])):
    id_tweet.append(request2.json()["data"][x]["id"])

In [421]:
mensaje_tweet = [request1.json()["data"][x]["text"] for x in range(len(request1.json()["data"]))]
for x in range(len(request2.json()["data"])):
    mensaje_tweet.append(request2.json()["data"][x]["text"])

In [422]:
fecha_tweet = [request1.json()["data"][x]["created_at"] for x in range(len(request1.json()["data"]))]
for x in range(len(request2.json()["data"])):
    fecha_tweet.append(request2.json()["data"][x]["created_at"])

In [423]:
author_tweet = [request1.json()["data"][x]["author_id"] for x in range(len(request1.json()["data"]))]
for x in range(len(request2.json()["data"])):
    author_tweet.append(request2.json()["data"][x]["author_id"])

In [424]:
public_metrics_tweet  = [request1.json()["data"][x]["public_metrics"] for x in range(len(request1.json()["data"]))]
for x in range(len(request2.json()["data"])):
    public_metrics_tweet .append(request2.json()["data"][x]["public_metrics"])

In [442]:
retweet_count = [public_metrics_tweet[x]["retweet_count"] for x in range(len(public_metrics_tweet))]
reply_count = [public_metrics_tweet[x]["reply_count"] for x in range(len(public_metrics_tweet))]
like_count = [public_metrics_tweet[x]["like_count"] for x in range(len(public_metrics_tweet))]
quote_count = [public_metrics_tweet[x]["quote_count"] for x in range(len(public_metrics_tweet))]

In [429]:
id_user  = [userdata[x]["id"] for x in range(len(userdata))]
name_user  = [userdata[x]["name"] for x in range(len(userdata))]
username_user  = [userdata[x]["username"] for x in range(len(userdata))]

-------------

In [447]:
tabla1 = pd.DataFrame({"id_tweet":id_tweet, "mensaje_tweet":mensaje_tweet, "fecha_tweet":fecha_tweet, "author_tweet":author_tweet, 
"retweet_count":retweet_count, "reply_count":reply_count, "like_count":like_count, "quote_count":quote_count})

In [449]:
tabla2 = pd.DataFrame({"id_user":id_user, "name_user":name_user, "username_user":username_user})

In [450]:
tabla2

,id_user,name_user,username_user
0,1003872445,Pau Mugarra,PauMugarra
1,2529499620,FormaciÃ³n FundaciÃ³n Universidad Carlos III,formacion_fuc3
2,706520411551494145,JoseSola,Jose_Sola_
3,604485175,Berta Otero,bertinha84
4,1391838162830385165,Apiux TecnologÃ­a,Apiuxtecnologia
...,...,...,...
147,962578275162869760,Jairo P,PesetJairo
148,18955785,Javi PÃ©rez âš¡ ðŸ˜Ž Learning by doing. ðŸ¦¾ ðŸ’» ðŸ“š ðŸš€,JaviMostoles
149,15521945,Bill Murphy,wmurphy
150,10614452,Pablo J. Contreras.,pcontrer
151,1255794072280842240,Heavy Mental,HeavyMental_es

## BD

In [511]:
conexion = sqlite3.connect("Datos")

In [512]:
cursor = conexion.cursor()

In [504]:
tabla1.to_sql("tweets", conexion)

In [505]:
tabla2.to_sql("usuarios", conexion)

In [506]:
conexion.commit()

In [517]:
conexion.close()

In [513]:
users = pd.DataFrame(cursor.execute("select * from usuarios").fetchall(), columns = [0,"id_user","name_user","username_user"]).set_index(0)

In [514]:
tweets = pd.DataFrame(cursor.execute("select * from tweets").fetchall(), columns = [0,"id_tweet","mensaje_tweet", "fecha_tweet", "author_tweet", "retweet_count", "reply_count", 
"like_count", "quote_count"]).set_index(0)

In [518]:
users

,id_user,name_user,username_user
0,,,
0,1003872445,Pau Mugarra,PauMugarra
1,2529499620,FormaciÃ³n FundaciÃ³n Universidad Carlos III,formacion_fuc3
2,706520411551494145,JoseSola,Jose_Sola_
3,604485175,Berta Otero,bertinha84
4,1391838162830385165,Apiux TecnologÃ­a,Apiuxtecnologia
...,...,...,...
147,962578275162869760,Jairo P,PesetJairo
148,18955785,Javi PÃ©rez âš¡ ðŸ˜Ž Learning by doing. ðŸ¦¾ ðŸ’» ðŸ“š ðŸš€,JaviMostoles
149,15521945,Bill Murphy,wmurphy
150,10614452,Pablo J. Contreras.,pcontrer
151,1255794072280842240,Heavy Mental,HeavyMental_es